.custom-navbar {
  width: 100vw;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(78, 78, 78, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999;
}

.custom-navbar:hover {
  background: rgba(0, 47, 108, 0.1);
}

.nav-link-custom {
  color: #000 !important;
  font-size: 1.2vw;
  font-weight: 500;
}

.nav-button {
  font-size: 1.3vw;
}

.nav-link-custom:hover {
  color: #ffb404 !important;
}

.social-icon {
  color: #000;
  cursor: pointer;
}

.social-icon:hover {
  color: #F9A825;
}

.btn-warning {
  background-color: #F9A825;
  border: none;
}

.btn-warning:hover {
  background-color: #002F6C;
  color: white;
}

.burger-icon {
  display: none;
  cursor: pointer;
  margin-left: 10px;
}

.nav-center-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-nav{
  display: block;
}
.nav-Menu{
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-Menu{
    display: block;
  }
}


@media screen and (max-width: 992px) { 
  .icons-burger{
    position: absolute;
    right: 20px;
  }

  .burger-icon {
    display: block;
  }

}
